<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimal-ui, shrink-to-fit=no">          
        <title>About</title>
        <link rel="icon" type="image/ico" href="/img/weather.png">
        <link rel ="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div id ="container">
            <div class="main-content">
                {{> header}}
                <h3>{{helpfulText}}</h3>
                <ul>
                    <li>You can search using Zip Code or the name of a place you looking for also adding the country shortcut to see an accurate location.</li>
                    <li>The data is downloading form darksky.net and mapbox.com to stay up to date with actual state of changes.</li>
                    <li>If you like the project you can help me by donate for future production like this.</li>
                </ul>
            </div>
        </div>
        {{> footer}}
    </body>
</html>