body {
    background: url('/img/bcg-2.png') no-repeat center center;
    background-size: cover;
    color: #000;
    display: flex;
    font-family: arial;
    flex-direction: column;
    max-width: 650px;
    margin: 0 auto;
    min-height: 100vh;
    padding: 0 16px;
}

#container {
    margin: 5rem auto;
    text-align: center;
}

.main-content {
    flex-grow: 1;
}
.main-content-about {
    display: flex;
    flex-direction: column;
}

.about-img {
    width: 200px;
}

header {
    margin-top: 1rem;
    margin-bottom: 48px; 
    width: 100%
}
h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
}

header a {
    color: #fff;
    margin-right: 1rem;
    text-decoration: none;
}

article {
    color: #fff;
}

#firstMessageForecast, #secondMessageLocation {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}

h3 {
    font-size: 16px;
    color: #555;
}

p {
    color: #555;
    font-size: 14px;
}

ul > li {
    color: #555;
    line-height: 200%;
}

#footer-subtitle {
    font-size: 12px;
    font-style: italic;   
}


#form-container {
    color: royalblue;
    height: 10rem;
    font-size: 18px;
    font-weight: 500;
    margin: 3rem auto;
    line-height: 180%;
    width: 25rem;
}


input {
    border: 1px solid #ccc;
    color: #555;
    padding: 8px;
}

button {
    cursor: pointer;
    border: 1px solid #555;
    background: #555;
    color: white;
    padding: 8px;
}

footer {
    /* background: navajowhite; */
    border-top: 1px solid #eee;
    color: #555;
    text-align: center;
    margin: 1rem;
    margin-top: 1rem;
    padding: 1rem 0;
}

#error{
    color: red;
}